.dashboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 700px;
}

.dashboard section {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    position: fixed;
    background: #000000c4;
}

#fader {
    height: 400px;
    width: 400px;
    background: #3f0e0e;
    border-radius: 50%;
    animation: fader 1s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fader h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 200;
    margin-top: 50px;
}

#fader p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 150;

}

@keyframes fader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.pre-flight {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #000000e1;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(5px);

    div {
        width: 40%;
        height: fit-content;
        padding-bottom: 35px;
        border: 2px solid #fff;
        background: #000000cc;
        backdrop-filter: blur(10px);

        h2 {
            color: #fff;
            font-size: 2rem;
            font-weight: 200;
            font-family: Bungee;
            margin: 20px;
        }

        ul {
            list-style: none;
            padding: 20px;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 150;
            width: 80%;
            margin: auto;

            li {
                margin-top: 30px;
                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;

                h3 {
                    font-family: 'Bungee';
                    font-weight: 200;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }

    .pre-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        padding: 0 20px;
        border: #fff 1px solid;

        button {
            background: transparent;
            border: none;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 200;
            transition: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;
                height: 30px;
            }
        }

        button:hover {
            cursor: pointer;
            color: #8d8d8d;
        }
    }
}

/* Controls */

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    gap: 20px;
    height: 100%;

    .heights {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .signal {
            rotate: 180deg;
            width: 50%;

            svg {
                stroke-width: 20;
            }
        }
    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #1b1b1b5b;
        padding: 20px;
        border-radius: 10px;
    }

    h2 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 200;
    }

    p {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 150;
    }
}

.init div {
    background: transparent !important;
    padding: 0 !important;
}

.init div span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #1b1b1b8f;
}

.init div button {
    background: #1b1b1b8f;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s;
}

.init div button:hover {
    background: #8d8d8d5b;
    cursor: pointer;
}

.init div button img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.main-four {
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 30% !important;
}

.parameter {
    background: #1b1b1b5b;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.parameter p {
    font-size: 1.2rem;
    font-weight: 200;
    color: #fff;
    transform: translateY(-40px);
}

.vodoravno {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 10px;
    gap: 20px;
}

.toolbar div {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #1b1b1b5b;
    color: #fff;
    transition: 0.3s;
}

.toolbar div:hover {
    cursor: pointer;
    background: #1b1b1b;
}

.toolbar div h2,
.toolbar div p {
    font-weight: 200;
}

.CircularProgressbar-text {
    font-weight: 200;
    flex-wrap: wrap;
    width: 150px;
}

.launch button {
    background: #6e030325;
    border: none;
    border-radius: 50%;
    transition: 0.2s;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 450;
    width: 120px;
    height: 120px;
}

.leaflet-top {
    z-index: 500 !important;
}

.leaflet-container {
    width: 100% !important;
}

#map {
    height: 700px;
    width: 100%;
}

@keyframes turbulence {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.turbulence {
    animation: turbulence 0.5s ease-in-out;
    animation-iteration-count: 3;
}

.icon_toolbar {
    color: #fff;
    opacity: 100%;
}